@keyframes loading{
  0%{
    transform:scale(1);
    opacity:1;
    z-index:2;
  }
  20%{
    transform:scale(1);
    opacity:1;
  }
  50%{
    transform:scale(1);
    opacity:0.75;
  }
  70%{
    transform:scale(1);
    opacity:0.5;
  }
  80%{
    transform:scale(1);
    opacity:0.2;
  }
  90%{
    transform:scale(1);
    opacity:0.001;
    z-index:2;
  }
  100%{
    transform:scale(0);
    opacity:0;
  }
}
@keyframes infinite-spinning {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(3.3turn);
  }
}
@keyframes spin{
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.load1{
  width:100%;
  position:absolute;
  height:100%;
  z-index:-1;
  opacity:0;
  background-color:rgba(98, 80, 75, 0.8);
  display:flex;
  justify-content:center;
  align-items:center;
}
.load1{
  animation-name: loading;
  animation-duration: 2500ms;  
}
.load1 > .spinner{
  box-shadow:0px 0px 30px 20px rgba(98, 80, 75, 0.8), 0px 0px 30px 30px rgba(106,121,110,0.5), 0px 0px 30px 10px rgba(97,120,125,0.5), inset 0px 0px 10px 10px rgba(98 80 75 / 60%);
  border-radius:100%;
  object-fit:cover;
  padding:20px 22px 20px 22px;
  height:100px;
  animation-name: infinite-spinning;
  animation-duration: 3500ms;
}
body
{
  background-image: url("image1/leaves-5620832.png");
  width:100%;
  background-size: cover; 
  background-attachment:fixed;
  margin:auto;
  border-radius: 5px 5px 5px 5px;
}
@font-face {
  font-family: "Updock-Regular";
  src: url(police/Updock-Regular.ttf);
}
@font-face {
  font-family:"FiraSans-Regular";
  src: url(police/Fira/FiraSans-Regular.ttf);
}
#entete{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  overflow:visible;
}
img.logo
{
  object-fit:cover;
  box-shadow: 0px 0px 100px 50px rgb(98 80 75 / 60%);
  border-radius:20px 20px 20px 20px;

}
div#moto
{
  width:auto;
  float: left;
  height:100px;
  margin-top:100px; 
}
div#conteneur
{
  background-position: bottom;
  overflow:visible;
  max-height:200px;
  
}
div#montagne
{
  width:auto;
  margin-top:100px;
  float:right;
  height:100px;
  min-height:10px;
}
img.fougere1
{
  height:.1%;
  width:30%;
}
ul.ancreList{
  margin:0;
  background-color:rgba(255,255,255, .4);
  padding:30px 20px 30px 20px;
  border-radius:20px 20px 20px 20px;
  border:10px double rgba(106,121,110,0.5);
  box-shadow: 0px 10px 20px 1px rgb(92 95 93 / 90%);
}
strong{
  font-size:20px;
  font-family:"FiraSans-Regular";
  margin-top:10px;
}
#regles{
  padding-top:10px;
}
@media (max-width: 850px){
  .fig p{
    font-size:125%;
  }
  #diapo{
    max-width:80%;
    min-height:1000px;
  }
  nav.Menu{
    min-height:150px;
  }
  .actList{
    min-width:100%;
  }
  li.activite{
    white-space:pre-line;
  }
  .ancreDiapo{
    margin:0;
  }
  ul.ancreList{
    font-size:13px;
  }
  .ancreList li{
    max-width:100px;
  }
  
  div#moto{
    visibility:hidden;
  }
  div#montagne{
    visibility:hidden;
  }
  div#conteneur{
    min-width:100%;
    max-height:80px;
  }
  h3{
    display:none;
  }
  h4{
    display:none;
  }
  #resa{ 
    margin:auto;
  }
  #resa p{
    margin-top:10px;
    font-size:200%;
    padding-left:15%;
    padding-right:15%;
  }
  .btn{
    margin-top:-52px;
  }
}
ul
{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  list-style-type: none;
  color:rgba(98,80,75,1);
  width:100%;
  position:static;
  margin:5px;;
  vertical-align: bottom;
  padding:0;
  text-align: center;
  border:1px;
  border-color:white;
}
.patte{
  margin:0;
}
.picto{
  margin-left:2%;
  margin-right:2%;
}
nav.Menu
{
  width:100%; 
  background-color: rgba(98, 80, 75, 0.8);
  font-family:'Updock-Regular';
  font-weight:bold;
  color:rgba(92,95,93,0.5);
  align-items: center;
  font-size:250%;
  padding-top:.1%;
  padding-bottom:.1%;
  margin-bottom: .2%;
  position:sticky;
  box-shadow: 0px 10px 20px 1px rgba(92,95,93,0.8);
}
@media (max-width: 350px){

  li.picto a {
    font-size:30%;
    border-radius:20px 20px 20px 20px;
    white-space:nowrap;
  }
  div#conteneur{
    max-height:100px;
  }
  h6.fixed{
    background-color:rgba(39, 79, 73,1);
  }
  nav.Menu{
    min-height:160px;
  }
  
}
aside.afaire
{
    position:relative;
    width:100%;
    font-size:200%;
    font-family:'Updock-Regular';
    font-weight: bold;
    background-color: rgba(92,95,93,0.2);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: normal;
    display:inline-block;
    vertical-align: baseline;
    height:4%;
    padding-top:.1%;
    padding-bottom:.1%;
    box-shadow: 0px 10px 20px 1px rgb(92,95,93);
}
a
{
  color:black;
}
header
{
  text-align:justify;
  white-space: normal;
}


li
{
  text-align: center;
  border:1px;
  border-radius:5px 5px 5px 5px;
  border-color:white;
}

p.texte
{
  font-size:120%;
}
ol
{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  list-style-type: none;
}
div
{
  display:flex;
  justify-content:space-around;
}
footer
{
  background-color:#274f49;
  height:50%;
  width:100%;
  text-align:center;
  color:white;
  font-size:90%;
  border:1px solid white;
  border-radius:5px 5px 5px 5px;
  margin-bottom:2%;
  margin-top:.1%;
}
img.pano
{
  border:3px solid white;
  border-radius:5px 5px 5px 5px;
}
h5
{
  font-size:90%;
}
p
{
  font-size:80%;
}
h5
{
  font-size:90%;
}
.sites
{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  min-width:100%;
}
h6
{
  font-size: 250%;
  margin-top:20px;
  margin-bottom:25px;
  background-color:rgba(98,80,75,0.7);
  box-shadow: 0px 10px 20px 1px rgba(69, 71, 70, 0.8);
  border-radius:20px 20px 20px 20px;
  font-family:'Updock-Regular';
  color:whitesmoke;
  width:100%;
  text-align:center;
}
iframe
{
  border-radius:7px 7px 7px 7px;
  width:100%;
  margin-top:-40px;
}
#infosTourisme{
  display:flex;
  flex-direction:row;
  background-color:rgba(255,255,255, .7);
  flex-wrap:wrap;
  justify-content:center;
}
.actList{
  display:flex;
  flex-direction:column;
  width:30%;
  align-items:center;
  background-color:rgba(255,255,255, .9);
  box-shadow: 0px 10px 20px 1px rgba(92,95,93,0.8);
  padding-bottom:30px;
  border-radius:20px 20px 20px 20px;
  margin:1%;
}
.actList p{
  color:black;
  font-family:"Updock-Regular";
  font-size:30px;
  font-weight:bolder;
  background-color: rgba(98,80,75,0.7);
  box-shadow:0px 10px 20px 1px rgb(69 71 70 / 80%);
  width:50%;
  border-radius:20px 20px 20px 20px;
}
td
{
  text-align: center;
  font-family:"FiraSans-Regular";
  font-weight: bolder;
  font-style: normal;
  vertical-align:top;
  border-radius:20px 20px 20px 20px;
  font-size:120%;
  empty-cells:hide;


}
table
{
  position:relative;
  border-collapse:collapse;
  width:auto;
  margin:auto;
  border-radius:20px 20px 20px 20px;
  empty-cells:hide;
}
ul.colonne
{
  display:flex;
  flex-wrap: wrap;
  align-items:flex-start;
  align-content:flex-start;
  white-space:nowrap;
  background-color:whitesmoke;
  padding:0;
  padding-bottom:2%;
  flex-direction:column;
  border-radius:20px 20px 20px 20px;
  box-shadow: 0px 10px 20px 1px rgba(92,95,93,0.8);

}
h6.classe
{
  font-size:120%;
  font-family:"FiraSans-Regular";
  font-weight:bolder;
  background-color:rgba(106,121,110,0.5);
  text-align:center;
  font-style: normal;
}
td.capa
{
background-color:rgba(106,121,110,0.5);;
border-radius:20px 20px 20px 20px;
}
td.vide{
  background-color:rgba(106,121,110,0.5);
}
li.a
{
  display:flex;
  align-items: flex-start;
  font-family:"FiraSans-Regular";
  padding:0.8%;
  font-size:15px;
  white-space:pre-wrap;
  font-style: normal;
}
th.Services
{
  background-color:rgba(131,147,136,0.5);
}
ul.Serv
{
  display:flex;
  flex-direction: row;
  align-items:center;
  flex-wrap: wrap;
  width:100%;

}
li.b
{
  text-align: left;
  color: black;
  font-size:15px;
  font-weight:bold;
  font-family:'FiraSans-Regular';
  padding:1%;
  background-color:rgba(106,121,110,0.5);
  box-shadow: 0px 10px 20px 1px rgba(69, 71, 70, 0.8);
  border-radius:40px 40px 40px 40px;
  margin:1%;
  white-space:nowrap;
  text-decoration: none;
}
td.s
{
  background-color:rgba(131,147,136,0.5);
}
tr.c
{
  empty-cells: hide;
}
caption
{
  font-size:150%;
  font-weight: bolder;
}
section
{
  display:inline-block;
  width:100%;
}

img {
  max-width: 100%;
  object-fit:cover;
  border-radius:20px 20px 0px 0px;

}
#diapo{
  display:flex;
  flex-direction:row;
  height:750px;
  width:90%;
  overflow:auto;
  margin:auto;
  flex-wrap:wrap;
  background-color: rgba(106,121,110,0.4);
  border:10px double rgba(106,121,110,0.5);
  box-shadow: 0px 10px 20px 1px rgba(92,95,93,0.9);
  border-radius: 20px 20px 20px 20px;
  justify-content:center;
  padding-top:2%;
}
h6.fixed{
  position:relative;
  margin-left:20%;
  margin-top:-5%;
  margin-right:20%;
  width:80%;
}
.ancreDiapo{
  display:flex;
  margin:0% 10% 2% 10%;
  justify-content:center;
  align-content:center;
}
.ancreList{
  font-family:"FiraSans-Regular";
  font-size:20px;
  font-weight:bold;
}
.ancreList li{
  border:1px solid rgba(106,121,110,0.4);
  padding:5px;
  width:150px;
  text-align:center;
  background-color:rgba(106,121,110,0.5);;
  border-radius:30px 30px 30px 30px;
  box-shadow: 0px 10px 15px 1px rgba(92,95,93,0.9);
}
.ancreList li:hover{
  box-shadow: 0px 10px 20px 1px rgba(92,95,93,1.4);
  background-color:rgba(255,255,255, .7);

}
.slide-img{
  object-fit:cover;
  height:250px;
  width:100%;

}
.slide{
  display:flex;
  z-index:2;
  overflow:hidden;
  flex-wrap:wrap;
  background-color: rgba(97,120,125,0.6);
  flex-direction:column;
  border-radius:20px 20px 0px 0px;
  justify-content:center;
}
.leg{
  z-index:3;
}
#pres{
  display:flex;
  margin-bottom:2%;
}
#resa{
  display:flex;
  flex-direction:column;
  background-color:rgba(171, 179, 187, 1);
  align-items:center;
  margin-top:150px;
  align-content:space-between;
  justify-content:space-around;
  border-radius:20px 20px 20px 20px;
  height:fit-content;
}
.btn{
  background-color:rgba(97,120,125,0.5);
  display:flex;
  flex-wrap:wrap;
  font-family:'Updock-Regular';
  font-size:60px;
  font-weight:bold;
  align-content:center;
  padding:1%;
  justify-content:center;
  width:fit-content;
  height:fit-content;
  margin:20px;
  border-radius:50px 50px 50px 50px;
  box-shadow:0px 10px 20px 3px rgba(97,120,125,0.5);
  text-align:center;
  border-style: groove;
  border-color: white;
  font-size:300%;
}
.btn:hover{
  border-style:dotted;
  background-color:rgb(85, 105, 104);
  box-shadow:0px 10px 20px 10px rgba(97,120,125,0.8);
}
p{
  font-family:"FiraSans-Regular";
  font-weight:400;
  font-size:150%;
  text-align:center;
  color:aliceblue;
  font-style: normal;
}
h3{
  font-family:'Updock-Regular';
  font-size:450%;
  margin:0;
  color:aliceblue;
}
h4{
  font-family:'Updock-Regular';
  font-size:350%;
  margin:0;
  color:aliceblue;
}
#info-pratique{
 
  margin:0;
}
th{
  font-size:18px;
  font-family: "FiraSans-Regular";
  background-color:rgba(97,120,125,0.7);
  box-shadow: 0px 10px 20px 1px rgba(92,95,93,0.9);
  padding:1%;
  border-radius:20px 20px 20px 20px;
}
#infos{
  
  padding-bottom:1%;
  padding-bottom:50px;
  background-color:rgba(255,255,255, .7);
}
.img-big{
  border-radius:20px 20px 20px 20px;
  width:100%;
}
.motard{
  width:25px;
}
figure.images{
  
  margin:2%;
  flex:auto;
  overflow:hidden;
  border-radius:20px 20px 20px 20px;
  box-shadow: 1px 15px 20px 10px rgba(92,95,93,1.2);
}
figure.images:hover{
  box-shadow: 1px 15px 20px 10px rgba(92,95,93,1.8);
}
.fig{
  background-color:rgba(106,121,110,0.9);
  height:25%;
  margin:0;
  margin-top:-10px;
  padding-top:10px;
  text-align:center;
}
li.picto a{
  padding-bottom:1%;
  color:rgba(43,41,41,1);
  width:100px;
}
aside.afaire1{
  display:none;
}
li.picto a:hover{
  padding:3%;
  height:auto;
  background-color:rgba(131, 86, 9, 0.2);
  border-radius:20px 20px 20px 20px;
  box-shadow: 0px 10px 20px 1px rgba(245, 248, 246, 0.3);
  text-decoration:underline 2px solid rgba(43,41,41,1);
  padding:1%;
  white-space:nowrap;
}
@media (max-width: 1300px){
  div#conteneur{
    max-height:200px;
    max-width:500px;
  }
  .patte{
    display:none;
  }
  ul.list{
    justify-content:center;
    background-color: rgba(255,255,255,0.4);
  }
  li.picto a{
    color:rgba(98, 80, 75, 0.8);
    text-transform:capitalize;
  }
}
h5{
  display:none;
}
@media (max-width: 1024px){
  li.picto a {
    font-size:25px;
    text-transform:capitalize;
    white-space:nowrap;
  }
  table{
    width:100%;
  }
  tr{
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  li.b{
    white-space:pre-line;
    padding:2%;
    text-align:center;
    font-size:13px;
  }
  ul.colonne{
    align-content:center;
    display:flex;
    margin:auto;
    align-items:center;
    white-space:pre-wrap;
    min-width:250px;
    padding-top:25px;
    max-width:80%;
    margin-bottom:5%;
  }
  h5{
    display:contents;
    font-family:"FiraSans-Regular";
    font-size:130%;
    padding-top:25px;
  }
  
  th{
    display:none;
  }
  td.capa{
    display:none;
  }
  td.vide{
    display:none;
  }
  ul{
    display:flex;
  }
  aside.afaire{
    display:none;
  }
  aside.afaire1{
    display:contents;
  }
  li.b{
    margin:2%;
  }
  .motard{
   display:none;
  } 
  h6.fixed{
    margin-top:-5%;
  }
  
  nav.Menu{
    width:100%;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-size:250%;
  }
}
#externalLinks ul{
  display:flex;
  flex-direction:column;
}
#externalLinks{
  display:flex;
  padding-bottom:25px;
}


